.registration {
    padding: 25px;
    text-align: center;
    margin: 6px auto;
}
.formFooter{
  margin: 9px;
}
.already {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: small;
}

.already:hover {
    color: rgb(31, 177, 31);
}

Label {
    font-size: small;
}
.formBox {
    background-color: whitesmoke;
}