.registration {
    padding: 25px;
    text-align: center;
    margin-top: 45px;
    margin-left: 20px;
}

.already {
    text-decoration: none;
    color: black;
    font-size: small;
}

.already:hover {
    color: green;
}

Label {
    font-size: small;
}