.registration {
    padding: 25px;
    text-align: center;
    margin: 12px auto 0 auto;
    position: relative;
}
.formFooter{
  margin: 9px;
}
.already {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: small;
}

.already:hover {
    color: rgb(31, 177, 31);
}

Label {
    font-size: small;
}
.formBox {
    background-color: whitesmoke;
}
.alertMsg {
    position: absolute;
    top: -9px;
    width: 90%;
    z-index: 2;
    margin: 0 auto;
    padding: 3px;
    border-radius: 6px;
    font-size: 0.8rem;
    background-color: rgba(238, 45, 45, 0.3);
}