.box {
    display: flex;
    max-width: 350px;
    height: 300px;
    margin-top: 50px;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(147, 232, 224, 0.262);
    box-shadow: 0 6px 6px -4px rgb(80, 80, 80);
    margin-bottom: 50px;
}

.LoginForm {
    padding: 25px;
    text-align: center;
    margin: 30px auto;
}

.formItem {
  padding: 5px;
  margin-bottom: 6px;
}
.formBox{
  background-color: whitesmoke;
}
