.header {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header:hover{
    color: tan;
}
header {
    display: flex;
    height: auto;
    padding: 9px;
    flex-direction: row;
    background-color:rgba(153, 152, 152, 0.2);
    border-bottom: 2px solid rgb(182, 182, 182);
    box-shadow: 0 6px 6px -4px rgb(80, 80, 80);
}
.mainTitle{
    font-size: 1.8rem;
    padding: 0 18px;
}
.username {
    font-weight: bold;
}
.navLink {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.navLink:hover {
    color: grey;
}

.navLinks {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}
.basicBtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 65);
    font-size: 0.7rem;
    font-weight: 600;
    background-color: rgba(167, 167, 167, 0.6);
    border: 2px solid rgb(219, 219, 219);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 6px 12px;
    text-align: center;
    padding: 3px 12px;
  }
  .btnB{
    padding: 9px 18px;
  }
  
  .basicBtn:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.25);
  }
  
  .basicBtn:active {
    background-color: rgba(146, 146, 146, 0.3);
  }
